# Spark 練習環境建立

## 套件安裝及環境建置

In [1]:
!pip install pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
spark = SparkSession.builder.master("local").getOrCreate()
sc = SparkContext.getOrCreate()

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/8e/b0/bf9020b56492281b9c9d8aae8f44ff51e1bc91b3ef5a884385cb4e389a40/pyspark-3.0.0.tar.gz (204.7MB)
     |████████████████████████████████| 204.7MB 74kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 32.3MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.0-py2.py3-none-any.whl size=205044182 sha256=0731fee481415da6f05331fc0d0516ca6d56b0816035addfc1cc85411fbb48e9
  Stored in directory: /root/.cache/pip/wheels/57/27/4d/ddacf7143f8d5b76c45c61ee2e43d9f8492fc5a8e78ebd7d37
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.0

In [2]:
# 確認 spark 環境
sc

## 資料讀取

In [4]:
# 下載資料集
from pyspark import SparkFiles
url_train = 'https://raw.githubusercontent.com/chia313339/Spark_practice/master/Titanic/train.csv'
url_test = 'https://raw.githubusercontent.com/chia313339/Spark_practice/master/Titanic/test.csv'
spark.sparkContext.addFile(url_train)
spark.sparkContext.addFile(url_test)
# 讀取資料集
sdf_train = spark.read.csv(SparkFiles.get("train.csv"), header=True, inferSchema= True)
sdf_test = spark.read.csv(SparkFiles.get("test.csv"), header=True, inferSchema= True)

In [5]:
sdf_train.show()
sdf_test.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|          330911| 7.8292| null|       Q|
|        893|     3|Wilkes, Mrs. Jame...|female|47.0|    1|    0|          363272|    7.0| null|       S|
|        894|     2|Myles, Mr. Thomas...|  male|62.0|    0|    0|          240276| 9.6875| null|       Q|
|        895|     3|    Wirz, Mr. Albert|  male|27.0|    0|    0|          315154| 8.6625| null|       S|
|        896|     3|Hirvonen, Mrs. Al...|female|22.0|    1|    1|         3101298|12.2875| null|       S|
|        897|     3|Svensson, Mr. Joh...|  male|14.0|    0|    0|            7538|  9.225| null|       S|
|        898|     3|Connolly, Miss. Kate|female|30.0|    0|    0|          330972| 7.6292| null|       Q|
|        899|     2|Caldwell, Mr. Alb...|  male|26.0|    1|    1|          248738|   29.0| null|       S|
|        900|     3|Abrahim, Mrs. Jos...|female|18.0|    0|    0|            2657| 7.2292| null|       C|
|        901|     3|Davies, Mr. John ...|  male|21.0|    2|    0|       A/4 48871|  24.15| null|       S|
|        902|     3|    Ilieff, Mr. Ylio|  male|null|    0|    0|          349220| 7.8958| null|       S|
|        903|     1|Jones, Mr. Charle...|  male|46.0|    0|    0|             694|   26.0| null|       S|
|        904|     1|Snyder, Mrs. John...|female|23.0|    1|    0|           21228|82.2667|  B45|       S|
|        905|     2|Howard, Mr. Benjamin|  male|63.0|    1|    0|           24065|   26.0| null|       S|
|        906|     1|Chaffee, Mrs. Her...|female|47.0|    1|    0|     W.E.P. 5734| 61.175|  E31|       S|
|        907|     2|del Carlo, Mrs. S...|female|24.0|    1|    0|   SC/PARIS 2167|27.7208| null|       C|
|        908|     2|   Keane, Mr. Daniel|  male|35.0|    0|    0|          233734|  12.35| null|       Q|
|        909|     3|   Assaf, Mr. Gerios|  male|21.0|    0|    0|            2692|  7.225| null|       C|
|        910|     3|Ilmakangas, Miss....|female|27.0|    1|    0|STON/O2. 3101270|  7.925| null|       S|
|        911|     3|"Assaf Khalil, Mr...|female|45.0|    0|    0|            2696|  7.225| null|       C|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

# 資料探索

In [6]:
# 觀察資料型態
sdf_train.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [7]:
# 順便觀察哪些欄位有缺失值
sdf_train.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|summary|      PassengerId|           Survived|            Pclass|                Name|   Sex|               Age|             SibSp|              Parch|            Ticket|             Fare|Cabin|Embarked|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+
|  count|              891|                891|               891|                 891|   891|               714|               891|                891|               891|              891|  204|     889|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|  null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746| null|    null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|  null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089| null|    null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...|female|              0.42|                 0|                  0|            110152|              0.0|  A10|       C|
|    max|              891|                  1|                 3|van Melkebeke, Mr...|  male|              80.0|                 8|                  6|         WE/P 5735|         512.3292|    T|       S|
+-------+-----------------+-------------------+------------------+--------------------+------+------------------+------------------+-------------------+------------------+-----------------+-----+--------+

# 缺失值處理

In [9]:
# 建一個假的 Dataframe，說明數值及字串的缺失處理
df_tmp = spark.createDataFrame([(1,'Alice',28,None),
                                (2,'QQcat',45,'M'),
                                (3,'Kobe',None,None),
                                (4,'Joan',33,'F'),
                                (5,'Stone',54,'M'),
                                (6,'Ruby',None,'F'),
                                (7,'Ray',42,'M')],
                               ['id', 'Name', 'Age', 'Gender'])
df_tmp.show()

+---+-----+----+------+
| id| Name| Age|Gender|
+---+-----+----+------+
|  1|Alice|  28|  null|
|  2|QQcat|  45|     M|
|  3| Kobe|null|  null|
|  4| Joan|  33|     F|
|  5|Stone|  54|     M|
|  6| Ruby|null|     F|
|  7|  Ray|  42|     M|
+---+-----+----+------+

## 找缺失欄位

In [10]:
# 找出有缺失的欄位
from pyspark.sql.functions import when, count, col
df_tmp.select([count(when(col(c).isNull(), c)).alias(c) for c in df_tmp.columns]).show()

+---+----+---+------+
| id|Name|Age|Gender|
+---+----+---+------+
|  0|   0|  2|     2|
+---+----+---+------+

## 情境一 移除有缺失的資料

In [11]:
df_tmp.na.drop().show()

+---+-----+---+------+
| id| Name|Age|Gender|
+---+-----+---+------+
|  2|QQcat| 45|     M|
|  4| Joan| 33|     F|
|  5|Stone| 54|     M|
|  7|  Ray| 42|     M|
+---+-----+---+------+

## 情境二 移除指定欄位有缺失的資料

In [12]:
df_tmp.na.drop(subset=['Age']).show()

+---+-----+---+------+
| id| Name|Age|Gender|
+---+-----+---+------+
|  1|Alice| 28|  null|
|  2|QQcat| 45|     M|
|  4| Joan| 33|     F|
|  5|Stone| 54|     M|
|  7|  Ray| 42|     M|
+---+-----+---+------+

## 情境三 移除指定欄位中，有任意缺失的資料

In [13]:
df_tmp.na.drop(how='all',subset=['Age','Gender']).show()

+---+-----+----+------+
| id| Name| Age|Gender|
+---+-----+----+------+
|  1|Alice|  28|  null|
|  2|QQcat|  45|     M|
|  4| Joan|  33|     F|
|  5|Stone|  54|     M|
|  6| Ruby|null|     F|
|  7|  Ray|  42|     M|
+---+-----+----+------+

## 情境四 取代字串缺失值
spark 會自動判斷字串欄位

In [14]:
df_tmp.na.fill('???').show()

+---+-----+----+------+
| id| Name| Age|Gender|
+---+-----+----+------+
|  1|Alice|  28|   ???|
|  2|QQcat|  45|     M|
|  3| Kobe|null|   ???|
|  4| Joan|  33|     F|
|  5|Stone|  54|     M|
|  6| Ruby|null|     F|
|  7|  Ray|  42|     M|
+---+-----+----+------+

## 情境五 取代數值缺失值
spark 會自動判斷數值欄位

In [15]:
df_tmp.na.fill(999).show()

+---+-----+---+------+
| id| Name|Age|Gender|
+---+-----+---+------+
|  1|Alice| 28|  null|
|  2|QQcat| 45|     M|
|  3| Kobe|999|  null|
|  4| Joan| 33|     F|
|  5|Stone| 54|     M|
|  6| Ruby|999|     F|
|  7|  Ray| 42|     M|
+---+-----+---+------+

## 情境六 各自指定補值

In [16]:
df_tmp.na.fill({'Age':999,'Gender':'???'}).show()

+---+-----+---+------+
| id| Name|Age|Gender|
+---+-----+---+------+
|  1|Alice| 28|   ???|
|  2|QQcat| 45|     M|
|  3| Kobe|999|   ???|
|  4| Joan| 33|     F|
|  5|Stone| 54|     M|
|  6| Ruby|999|     F|
|  7|  Ray| 42|     M|
+---+-----+---+------+

## 情境七 統計量補值
AGE補平均年齡為例

In [17]:
from pyspark.sql.functions import mean
mean_age = df_tmp.select(mean(df_tmp.Age)).collect()
mean_age

[Row(avg(Age)=40.4)]

In [18]:
# 年齡缺失值補上平均年齡
df_tmp.na.fill({'Age':mean_age[0][0]}).show()

+---+-----+---+------+
| id| Name|Age|Gender|
+---+-----+---+------+
|  1|Alice| 28|  null|
|  2|QQcat| 45|     M|
|  3| Kobe| 40|  null|
|  4| Joan| 33|     F|
|  5|Stone| 54|     M|
|  6| Ruby| 40|     F|
|  7|  Ray| 42|     M|
+---+-----+---+------+

# ABT 缺失處理

In [19]:
# 計算每個欄位缺失值數量
from pyspark.sql.functions import isnan, when, count, col
sdf_train.select([count(when(col(c).isNull(), c)).alias(c) for c in sdf_train.columns]).show()

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

In [21]:
# 教育訓練時間問題，Age先無腦貼中位數，Cabin有77%都是Null，刪欄位，Embarked只有2筆缺失，刪缺的資料
def handle_missing(dataframe, age_med):
  tmp = dataframe
  tmp = tmp.drop('Cabin').na.drop(subset=['Embarked']).na.fill({'Age':age_med})
  return tmp

In [22]:
# 算一下Age中位數
age_med = sdf_train.approxQuantile('Age',[0.5],0.25)[0]
age_med

21.0

In [23]:
# 將資料集套用缺失值處理函數
sdf_train_hadle_missing = handle_missing(sdf_train,age_med)
sdf_test_hadle_missing = handle_missing(sdf_test,age_med)

In [24]:
sdf_train_hadle_missing.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|
|          6|       0|     3|    Moran, Mr. James|  male|21.0|    0|    0|          330877| 8.4583|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|21.0|    0|    0|          244373|   13.0|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|21.0|    0|    0|            2649|  7.225|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
only showing top 20 rows

# 特徵工程

## Label Encoding

In [25]:
# 以label-encoding為例，Embarked示範，spark比較貼近的函數是StringIndexer()
from pyspark.ml.feature import StringIndexer
string_indexer = StringIndexer(inputCol = 'Embarked', outputCol = 'Embarked_StringIndexer')
sdf_train_LE = string_indexer.fit(sdf_train_hadle_missing).transform(sdf_train_hadle_missing)
sdf_train_LE.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|Embarked_StringIndexer|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|                   0.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|                   1.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|                   0.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|                   0.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|                   0.0|
|          6|       0|     3|    Moran, Mr. James|  male|21.0|    0|    0|          330877| 8.4583|       Q|                   2.0|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|                   0.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|                   0.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|                   0.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|                   1.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|                   0.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|                   0.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|                   0.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|                   0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|                   0.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|                   0.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|                   2.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|21.0|    0|    0|          244373|   13.0|       S|                   0.0|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|                   0.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|21.0|    0|    0|            2649|  7.225|       C|                   1.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------------------+
only showing top 20 rows

## One Hot Encoding

In [26]:
# 以one-hot-encoding為例，Embarked示範，spark比較貼近的函數是OneHotEncoder()
from pyspark.ml.feature import OneHotEncoder
one_hot_encoder = OneHotEncoder(inputCol = 'Embarked_StringIndexer', outputCol = 'Embarked_OneHotEncoder')
sdf_train_OE = one_hot_encoder.fit(sdf_train_LE).transform(sdf_train_LE)
sdf_train_OE.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------------------+----------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|Embarked_StringIndexer|Embarked_OneHotEncoder|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------------------+----------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|                   0.0|         (2,[0],[1.0])|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|                   1.0|         (2,[1],[1.0])|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|                   0.0|         (2,[0],[1.0])|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|                   0.0|         (2,[0],[1.0])|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|                   0.0|         (2,[0],[1.0])|
|          6|       0|     3|    Moran, Mr. James|  male|21.0|    0|    0|          330877| 8.4583|       Q|                   2.0|             (2,[],[])|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|                   0.0|         (2,[0],[1.0])|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|                   0.0|         (2,[0],[1.0])|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|                   0.0|         (2,[0],[1.0])|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|                   1.0|         (2,[1],[1.0])|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|                   0.0|         (2,[0],[1.0])|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|                   0.0|         (2,[0],[1.0])|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|                   0.0|         (2,[0],[1.0])|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|                   0.0|         (2,[0],[1.0])|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|                   0.0|         (2,[0],[1.0])|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|                   0.0|         (2,[0],[1.0])|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|                   2.0|             (2,[],[])|
|         18|       1|     2|Williams, Mr. Cha...|  male|21.0|    0|    0|          244373|   13.0|       S|                   0.0|         (2,[0],[1.0])|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|                   0.0|         (2,[0],[1.0])|
|         20|       1|     3|Masselmani, Mrs. ...|female|21.0|    0|    0|            2649|  7.225|       C|                   1.0|         (2,[1],[1.0])|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+----------------------+----------------------+
only showing top 20 rows

## Spark pipline

In [28]:
# Spark pipline 可以先把要做的特徵工程及模型訓練設定好，執行時會自動派發到各個節點運算
from pyspark.ml.feature import StringIndexer, OneHotEncoder
# 先設定要轉的類別、數值欄位
string_features = ['Sex','Embarked']

# 設定要進行的特徵工程內容
work = []
# label-encoding (one-hot的前置作業)
string_indexer = [StringIndexer(inputCol=column, outputCol=column+'_StringIndexer') for column in string_features]
# one-hot-encoding
one_hot_encoder = [OneHotEncoder(inputCols = [column+'_StringIndexer' for column in string_features], outputCols = [column+'_OneHotEncoderEstimator' for column in string_features])]

work += string_indexer
work += one_hot_encoder
work

[StringIndexer_82d0dbc69223,
 StringIndexer_3dd1a82e99d3,
 OneHotEncoder_0aa56cce18a6]

In [29]:
# 把工作內容加入pipline中
from pyspark.ml import Pipeline
pipline = Pipeline(stages=work)

FE = pipline.fit(sdf_train_hadle_missing)
sdf_transformed_train = FE.transform(sdf_train_hadle_missing)
sdf_transformed_test = FE.transform(sdf_test_hadle_missing)

In [30]:
sdf_transformed_train.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------------+----------------------+--------------------------+-------------------------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|Sex_StringIndexer|Embarked_StringIndexer|Sex_OneHotEncoderEstimator|Embarked_OneHotEncoderEstimator|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------------+----------------------+--------------------------+-------------------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|
|          6|       0|     3|    Moran, Mr. James|  male|21.0|    0|    0|          330877| 8.4583|       Q|              0.0|                   2.0|             (1,[0],[1.0])|                      (2,[],[])|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|              0.0|                   2.0|             (1,[0],[1.0])|                      (2,[],[])|
|         18|       1|     2|Williams, Mr. Cha...|  male|21.0|    0|    0|          244373|   13.0|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|
|         20|       1|     3|Masselmani, Mrs. ...|female|21.0|    0|    0|            2649|  7.225|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------------+----------------------+--------------------------+-------------------------------+
only showing top 20 rows

# 模型訓練

In [31]:
# 透過pipline處理特徵轉向量及RandomForest訓練
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import RandomForestClassifier

features = ['Pclass','Age','SibSp','Parch','Fare','Sex_OneHotEncoderEstimator','Embarked_OneHotEncoderEstimator']
vector_assembler = VectorAssembler(inputCols=features, outputCol='Features_Vec')

rf = RandomForestClassifier(labelCol = 'Survived',
                            featuresCol = 'Features_Vec',
                            numTrees = 100,
                            maxDepth = 4,
                            maxBins = 1000)

work = vector_assembler,rf
pipeline = Pipeline(stages=work)

In [32]:
# 模型訓練並套用在測試資料上
model = pipeline.fit(sdf_transformed_train)
sdf_predict = model.transform(sdf_transformed_test)

In [33]:
# 預測結果
sdf_predict.show()

+-----------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------------+----------------------+--------------------------+-------------------------------+--------------------+--------------------+--------------------+----------+
|PassengerId|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|Sex_StringIndexer|Embarked_StringIndexer|Sex_OneHotEncoderEstimator|Embarked_OneHotEncoderEstimator|        Features_Vec|       rawPrediction|         probability|prediction|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------------+----------------------+--------------------------+-------------------------------+--------------------+--------------------+--------------------+----------+
|        892|     3|    Kelly, Mr. James|  male|34.5|    0|    0|          330911| 7.8292|       Q|              0.0|                   2.0|             (1,[0],[1.0])|                      (2,[],[])|(8,[0,1,4,5],[3.0...|[84.7913707727362...|[0.84791370772736...|       0.0|
|        893|     3|Wilkes, Mrs. Jame...|female|47.0|    1|    0|          363272|    7.0|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[3.0,47.0,1.0,0.0...|[57.8300939902936...|[0.57830093990293...|       0.0|
|        894|     2|Myles, Mr. Thomas...|  male|62.0|    0|    0|          240276| 9.6875|       Q|              0.0|                   2.0|             (1,[0],[1.0])|                      (2,[],[])|(8,[0,1,4,5],[2.0...|[81.8691980640530...|[0.81869198064053...|       0.0|
|        895|     3|    Wirz, Mr. Albert|  male|27.0|    0|    0|          315154| 8.6625|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,27.0,0.0,0.0...|[85.4668903108467...|[0.85466890310846...|       0.0|
|        896|     3|Hirvonen, Mrs. Al...|female|22.0|    1|    1|         3101298|12.2875|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[3.0,22.0,1.0,1.0...|[52.0840130157800...|[0.52084013015780...|       0.0|
|        897|     3|Svensson, Mr. Joh...|  male|14.0|    0|    0|            7538|  9.225|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,14.0,0.0,0.0...|[84.8070188489653...|[0.84807018848965...|       0.0|
|        898|     3|Connolly, Miss. Kate|female|30.0|    0|    0|          330972| 7.6292|       Q|              1.0|                   2.0|                 (1,[],[])|                      (2,[],[])|(8,[0,1,4],[3.0,3...|[46.8185331810104...|[0.46818533181010...|       1.0|
|        899|     2|Caldwell, Mr. Alb...|  male|26.0|    1|    1|          248738|   29.0|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[2.0,26.0,1.0,1.0...|[71.7639958456526...|[0.71763995845652...|       0.0|
|        900|     3|Abrahim, Mrs. Jos...|female|18.0|    0|    0|            2657| 7.2292|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|(8,[0,1,4,7],[3.0...|[36.3064295110960...|[0.36306429511096...|       1.0|
|        901|     3|Davies, Mr. John ...|  male|21.0|    2|    0|       A/4 48871|  24.15|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,21.0,2.0,0.0...|[82.9122623752306...|[0.82912262375230...|       0.0|
|        902|     3|    Ilieff, Mr. Ylio|  male|21.0|    0|    0|          349220| 7.8958|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,21.0,0.0,0.0...|[85.8264997484110...|[0.85826499748411...|       0.0|
|        903|     1|Jones, Mr. Charle...|  male|46.0|    0|    0|             694|   26.0|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[1.0,46.0,0.0,0.0...|[72.8822123518126...|[0.72882212351812...|       0.0|
|        904|     1|Snyder, Mrs. John...|female|23.0|    1|    0|           21228|82.2667|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[1.0,23.0,1.0,0.0...|[12.2977632797542...|[0.12297763279754...|       1.0|
|        905|     2|Howard, Mr. Benjamin|  male|63.0|    1|    0|           24065|   26.0|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[2.0,63.0,1.0,0.0...|[77.7694360722387...|[0.77769436072238...|       0.0|
|        906|     1|Chaffee, Mrs. Her...|female|47.0|    1|    0|     W.E.P. 5734| 61.175|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[1.0,47.0,1.0,0.0...|[14.8074299698222...|[0.14807429969822...|       1.0|
|        907|     2|del Carlo, Mrs. S...|female|24.0|    1|    0|   SC/PARIS 2167|27.7208|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|[2.0,24.0,1.0,0.0...|[19.3532559715340...|[0.19353255971534...|       1.0|
|        908|     2|   Keane, Mr. Daniel|  male|35.0|    0|    0|          233734|  12.35|       Q|              0.0|                   2.0|             (1,[0],[1.0])|                      (2,[],[])|(8,[0,1,4,5],[2.0...|[78.3324398195195...|[0.78332439819519...|       0.0|
|        909|     3|   Assaf, Mr. Gerios|  male|21.0|    0|    0|            2692|  7.225|       C|              0.0|                   1.0|             (1,[0],[1.0])|                  (2,[1],[1.0])|[3.0,21.0,0.0,0.0...|[83.2181087771872...|[0.83218108777187...|       0.0|
|        910|     3|Ilmakangas, Miss....|female|27.0|    1|    0|STON/O2. 3101270|  7.925|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[3.0,27.0,1.0,0.0...|[56.3248131845238...|[0.56324813184523...|       0.0|
|        911|     3|"Assaf Khalil, Mr...|female|45.0|    0|    0|            2696|  7.225|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|(8,[0,1,4,7],[3.0...|[46.2995506570306...|[0.46299550657030...|       1.0|
+-----------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-----------------+----------------------+--------------------------+-------------------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

# 資料集切割

In [34]:
# randomSplit()後面帶資料集切割比例
(traindata, validata) = sdf_transformed_train.randomSplit([0.8, 0.2])

print(sdf_transformed_train.count())
print(traindata.count())
print(validata.count())

889
718
171

# 模型成效評估

## 模型重新訓練

In [35]:
# 改用logistic regression訓練
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
features = ['Pclass','Age','SibSp','Parch','Fare','Sex_OneHotEncoderEstimator','Embarked_OneHotEncoderEstimator']
vector_assembler = VectorAssembler(inputCols=features, outputCol='Features_Vec')
lr = LogisticRegression(labelCol='Survived', featuresCol = 'Features_Vec')

work = vector_assembler,lr
pipeline = Pipeline(stages=work)


# 模型訓練並套用在validata資料上
lr_model = pipeline.fit(traindata)
lr_predict = lr_model.transform(validata)


# 顯示validata預測結果
lr_predict.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------+--------+--------+-----------------+----------------------+--------------------------+-------------------------------+--------------------+--------------------+--------------------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|    Fare|Embarked|Sex_StringIndexer|Embarked_StringIndexer|Sex_OneHotEncoderEstimator|Embarked_OneHotEncoderEstimator|        Features_Vec|       rawPrediction|         probability|prediction|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+--------+--------+-----------------+----------------------+--------------------------+-------------------------------+--------------------+--------------------+--------------------+----------+
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|    113803|    53.1|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[1.0,35.0,1.0,0.0...|[-2.2607753824094...|[0.09442404658438...|       1.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|    237736| 30.0708|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|[2.0,14.0,1.0,0.0...|[-2.1211387317726...|[0.10705916185862...|       1.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|    347082|  31.275|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,39.0,1.0,5.0...|[3.62562368597327...|[0.97405840715061...|       0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|    350406|  7.8542|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|(8,[0,1,4,6],[3.0...|[-0.8558153789748...|[0.29821437371291...|       1.0|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|    347077| 31.3875|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[3.0,38.0,1.0,5.0...|[0.88508351133769...|[0.70787454088140...|       0.0|
|         32|       1|     1|Spencer, Mrs. Wil...|female|21.0|    1|    0|  PC 17569|146.5208|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|[1.0,21.0,1.0,0.0...|[-3.3025399386990...|[0.03548415715269...|       1.0|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|    349237|    17.8|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[3.0,18.0,1.0,0.0...|[-0.4726883363387...|[0.38398014814511...|       1.0|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|      2697|  7.2292|       C|              0.0|                   1.0|             (1,[0],[1.0])|                  (2,[1],[1.0])|[3.0,28.5,0.0,0.0...|[2.03696612580408...|[0.88462397856705...|       0.0|
|         61|       0|     3|Sirayanian, Mr. O...|  male|22.0|    0|    0|      2669|  7.2292|       C|              0.0|                   1.0|             (1,[0],[1.0])|                  (2,[1],[1.0])|[3.0,22.0,0.0,0.0...|[1.80741773565762...|[0.85904949456325...|       0.0|
|         64|       0|     3|Skoog, Master. Ha...|  male| 4.0|    3|    2|    347088|    27.9|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,4.0,3.0,2.0,...|[2.51830086270156...|[0.92541486138692...|       0.0|
|         65|       0|     1|Stewart, Mr. Albe...|  male|21.0|    0|    0|  PC 17605| 27.7208|       C|              0.0|                   1.0|             (1,[0],[1.0])|                  (2,[1],[1.0])|[1.0,21.0,0.0,0.0...|[-0.5812115475471...|[0.35865386426218...|       1.0|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|C.A. 29395|    10.5|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|(8,[0,1,4,6],[2.0...|[-1.4847157841916...|[0.18471618435828...|       1.0|
|         78|       0|     3|Moutal, Mr. Raham...|  male|21.0|    0|    0|    374746|    8.05|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,21.0,0.0,0.0...|[2.09588423181954...|[0.89050250386402...|       0.0|
|         84|       0|     1|Carrau, Mr. Franc...|  male|28.0|    0|    0|    113059|    47.1|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[1.0,28.0,0.0,0.0...|[-0.0542503746917...|[0.48644073169106...|       1.0|
|         96|       0|     3|Shorney, Mr. Char...|  male|21.0|    0|    0|    374910|    8.05|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,21.0,0.0,0.0...|[2.09588423181954...|[0.89050250386402...|       0.0|
|        100|       0|     2|   Kantor, Mr. Sinai|  male|34.0|    1|    0|    244367|    26.0|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[2.0,34.0,1.0,0.0...|[1.62550822095944...|[0.83555338056922...|       0.0|
|        108|       1|     3|Moss, Mr. Albert ...|  male|21.0|    0|    0|    312991|   7.775|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,21.0,0.0,0.0...|[2.09653661915840...|[0.89056610051051...|       0.0|
|        110|       1|     3| Moran, Miss. Bertha|female|21.0|    1|    0|    371110|   24.15|       Q|              1.0|                   2.0|                 (1,[],[])|                      (2,[],[])|(8,[0,1,2,4],[3.0...|[-0.7000401963308...|[0.33180331584807...|       1.0|
|        112|       0|     3|Zabour, Miss. Hileni|female|14.5|    1|    0|      2665| 14.4542|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|[3.0,14.5,1.0,0.0...|[-0.9140828468263...|[0.28616508759900...|       1.0|
|        114|       0|     3|Jussila, Miss. Ka...|female|20.0|    1|    0|      4136|   9.825|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[3.0,20.0,1.0,0.0...|[-0.3831388296204...|[0.40537007314866...|       1.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+--------+--------+-----------------+----------------------+--------------------------+-------------------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

## 模型評估指標
- Spark 的 MulticlassClassificationEvaluator()

In [36]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
df_eval = lr_predict.select('prediction','Survived')
eval_acc = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="accuracy")
eval_f1 = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="f1")
eval_pre = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="weightedPrecision")
eval_recall = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="weightedRecall")

In [38]:
print('pyspark accuracy: %.6f' %eval_acc.evaluate(df_eval))
print('pyspark f1-score: %.6f' %eval_f1.evaluate(df_eval))
print('pyspark precision: %.6f' %eval_pre.evaluate(df_eval))
print('pyspark recall: %.6f' %eval_recall.evaluate(df_eval))

pyspark accuracy: 0.812865
pyspark f1-score: 0.812149
pyspark precision: 0.811667
pyspark recall: 0.812865

- 對比 sklearn 的 metrics()

In [39]:
from sklearn import metrics
pd_eval = df_eval.toPandas()
sklern_acc = metrics.accuracy_score(pd_eval['Survived'], pd_eval['prediction'])
sklern_f1 = metrics.f1_score(pd_eval['Survived'], pd_eval['prediction'], average='weighted')
sklern_pre = metrics.precision_score(pd_eval['Survived'], pd_eval['prediction'], average='weighted')
sklern_recall = metrics.recall_score(pd_eval['Survived'], pd_eval['prediction'], average='weighted')

In [40]:
print('sklearn accuracy: %.6f' %sklern_acc)
print('sklearn f1-score: %.6f' %sklern_f1)
print('sklearn precision: %.6f' %sklern_pre)
print('sklearn recall: %.6f' %sklern_recall)

sklearn accuracy: 0.812865
sklearn f1-score: 0.812149
sklearn precision: 0.811667
sklearn recall: 0.812865

#演算法套用練習
嘗試將演算法換成 Gradient-Boosted Trees (GBTs) 重新訓練，並使用 validata 驗證模型成效，參數帶 input、output 即可。

參考連結：https://spark.apache.org/docs/latest/ml-classification-regression.html#gradient-boosted-tree-classifier

In [41]:
# 演算法改GBT
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import GBTClassifier

features = ['Pclass','Age','SibSp','Parch','Fare','Sex_OneHotEncoderEstimator','Embarked_OneHotEncoderEstimator']
vector_assembler = VectorAssembler(inputCols=features, outputCol='Features_Vec')
GBT = GBTClassifier(labelCol='Survived', featuresCol = 'Features_Vec')

work = vector_assembler,GBT
pipeline = Pipeline(stages=work)


# 模型訓練並套用在validata資料上
GBT_model = pipeline.fit(traindata)
GBT_predict = GBT_model.transform(validata)

# 顯示validata預測結果
GBT_predict.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------+--------+--------+-----------------+----------------------+--------------------------+-------------------------------+--------------------+--------------------+--------------------+----------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|    Ticket|    Fare|Embarked|Sex_StringIndexer|Embarked_StringIndexer|Sex_OneHotEncoderEstimator|Embarked_OneHotEncoderEstimator|        Features_Vec|       rawPrediction|         probability|prediction|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+--------+--------+-----------------+----------------------+--------------------------+-------------------------------+--------------------+--------------------+--------------------+----------+
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|    113803|    53.1|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[1.0,35.0,1.0,0.0...|[-1.5406114727940...|[0.04388846918689...|       1.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|    237736| 30.0708|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|[2.0,14.0,1.0,0.0...|[-1.6061603943035...|[0.03870469321164...|       1.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|    347082|  31.275|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,39.0,1.0,5.0...|[1.08256627445128...|[0.89707441332035...|       0.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|    350406|  7.8542|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|(8,[0,1,4,6],[3.0...|[-0.9287384491026...|[0.13499741115283...|       1.0|
|         26|       1|     3|Asplund, Mrs. Car...|female|38.0|    1|    5|    347077| 31.3875|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[3.0,38.0,1.0,5.0...|[1.39210473604727...|[0.94181654516370...|       0.0|
|         32|       1|     1|Spencer, Mrs. Wil...|female|21.0|    1|    0|  PC 17569|146.5208|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|[1.0,21.0,1.0,0.0...|[-1.5698997087637...|[0.04149509638553...|       1.0|
|         50|       0|     3|Arnold-Franchi, M...|female|18.0|    1|    0|    349237|    17.8|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[3.0,18.0,1.0,0.0...|[-0.0919910721164...|[0.45413376982059...|       1.0|
|         58|       0|     3| Novel, Mr. Mansouer|  male|28.5|    0|    0|      2697|  7.2292|       C|              0.0|                   1.0|             (1,[0],[1.0])|                  (2,[1],[1.0])|[3.0,28.5,0.0,0.0...|[-0.0992080193288...|[0.45055809023780...|       1.0|
|         61|       0|     3|Sirayanian, Mr. O...|  male|22.0|    0|    0|      2669|  7.2292|       C|              0.0|                   1.0|             (1,[0],[1.0])|                  (2,[1],[1.0])|[3.0,22.0,0.0,0.0...|[0.57387664493485...|[0.75910030693655...|       0.0|
|         64|       0|     3|Skoog, Master. Ha...|  male| 4.0|    3|    2|    347088|    27.9|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,4.0,3.0,2.0,...|[0.42156031133539...|[0.69912204787324...|       0.0|
|         65|       0|     1|Stewart, Mr. Albe...|  male|21.0|    0|    0|  PC 17605| 27.7208|       C|              0.0|                   1.0|             (1,[0],[1.0])|                  (2,[1],[1.0])|[1.0,21.0,0.0,0.0...|[0.24876025577055...|[0.62187646552897...|       0.0|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0|C.A. 29395|    10.5|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|(8,[0,1,4,6],[2.0...|[-1.3525912567414...|[0.06266823953170...|       1.0|
|         78|       0|     3|Moutal, Mr. Raham...|  male|21.0|    0|    0|    374746|    8.05|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,21.0,0.0,0.0...|[1.07984939274766...|[0.89657161997087...|       0.0|
|         84|       0|     1|Carrau, Mr. Franc...|  male|28.0|    0|    0|    113059|    47.1|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[1.0,28.0,0.0,0.0...|[0.01539879146345...|[0.50769878722207...|       0.0|
|         96|       0|     3|Shorney, Mr. Char...|  male|21.0|    0|    0|    374910|    8.05|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,21.0,0.0,0.0...|[1.07984939274766...|[0.89657161997087...|       0.0|
|        100|       0|     2|   Kantor, Mr. Sinai|  male|34.0|    1|    0|    244367|    26.0|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[2.0,34.0,1.0,0.0...|[1.01720528026904...|[0.88436288985374...|       0.0|
|        108|       1|     3|Moss, Mr. Albert ...|  male|21.0|    0|    0|    312991|   7.775|       S|              0.0|                   0.0|             (1,[0],[1.0])|                  (2,[0],[1.0])|[3.0,21.0,0.0,0.0...|[1.25069667836410...|[0.92423944175548...|       0.0|
|        110|       1|     3| Moran, Miss. Bertha|female|21.0|    1|    0|    371110|   24.15|       Q|              1.0|                   2.0|                 (1,[],[])|                      (2,[],[])|(8,[0,1,2,4],[3.0...|[-1.1903653496004...|[0.08465392838700...|       1.0|
|        112|       0|     3|Zabour, Miss. Hileni|female|14.5|    1|    0|      2665| 14.4542|       C|              1.0|                   1.0|                 (1,[],[])|                  (2,[1],[1.0])|[3.0,14.5,1.0,0.0...|[-0.3047068345296...|[0.35219295953251...|       1.0|
|        114|       0|     3|Jussila, Miss. Ka...|female|20.0|    1|    0|      4136|   9.825|       S|              1.0|                   0.0|                 (1,[],[])|                  (2,[0],[1.0])|[3.0,20.0,1.0,0.0...|[0.41786243565418...|[0.69756406126283...|       0.0|
+-----------+--------+------+--------------------+------+----+-----+-----+----------+--------+--------+-----------------+----------------------+--------------------------+-------------------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [43]:
# Spark 模型評估指標
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
df_eval = GBT_predict.select('prediction','Survived')
eval_acc = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="accuracy")
eval_f1 = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="f1")
eval_pre = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="weightedPrecision")
eval_recall = MulticlassClassificationEvaluator(labelCol="Survived", predictionCol="prediction", metricName="weightedRecall")

print('pyspark accuracy: %.6f' %eval_acc.evaluate(df_eval))
print('pyspark f1-score: %.6f' %eval_f1.evaluate(df_eval))
print('pyspark precision: %.6f' %eval_pre.evaluate(df_eval))
print('pyspark recall: %.6f' %eval_recall.evaluate(df_eval))

pyspark accuracy: 0.853801
pyspark f1-score: 0.851606
pyspark precision: 0.852577
pyspark recall: 0.853801